.photo-page {
    display: flex;

    &__content {
        width: calc( 100% - 300px );
    }

    &__comments {
        width: 300px;
    }
}

.wrap {
    display: flex;
    flex-flow: column;
    width: 70%;
}