*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}
/*=============
modules
===============*/
@import "./modules/variables";
@import "./modules/grid";
@import "./modules/buttons";
@import "./modules/typography";
@import "./modules/fonts";

/*=============
components
===============*/
@import "./components/account";
@import "./components/user";
@import "./components/search";
@import "./components/docket";
@import "./components/content";
@import "./components/preview";
@import "./components/gallery";
@import "./components/list";
@import "./components/figure";

/*=============
pages
===============*/