.avatar {
    display: flex;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 18px;
    &--sm {
        width: 80px;
        height: 80px;
    }
    &--sx {
        width: 30px;
        height: 30px;
    }
}
.avatar__image {
    max-width: 100%;
    border-radius: 50%;
}