.user {
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   background-color: #272631;
   padding: 30px 0px 32px; 
}
.user__avatar {
    display: flex;
    
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 18px;
}
.user__avatar-image {
    max-width: 80px;
    border-radius: 50%;
}
.user__name {
    color: #fff;
    font-size: 13px;
    margin-bottom: 9px;
}
.user__count-files {
    color: #a3a2a8;
    font-size: 11px;
    margin-bottom: 21px;
}
.user__btn {
    width: 160px;
    height: 36px;

    background-color: #ea5a5a;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    color:  #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
}
.home__user-edit {
    width: 20px;
    height: 20px;
    display: block;
    background: url(~/img/edit.svg) no-repeat 100%;
}