.user {
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   background-color: #272631;
   padding: 30px 0px 32px; 
}
.home__user-edit {
    width: 20px;
    height: 20px;
    display: block;
    background: url(~/img/edit.svg) no-repeat 100%;
}